<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/mainpage.css' %}" type="text/css"/>
</head>
<body>

<div class="glavnaia">
  <div class="auto-flex1-C61RwL">
    <div class="verkh">
      <h1 class="tickets-78 valign-text-middle changa-regular-normal-linen-48px border-class-1" href="/">TICKETS</h1>
      <div class="novosti-2716 valign-text-middle roboto-regular-normal-linen-215px border-class-1" href="/news">Новости</div>
      <div class="podderzhka-716 valign-text-middle roboto-regular-normal-linen-215px border-class-1">Поддержка</div>
      <div class="lichnyi-kabinet-77 valign-text-middle roboto-regular-normal-linen-215px border-class-1">
        Личный Кабинет
      </div>
      <img
        class="ikonka"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8a67aa70b51f10c37d07e/img/image-1@2x.jpg"
      />
    </div>

    <div class="overlap-group-uxzUmT">
      <img
        class="fon"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/---@1x.png"
      />
      <div class="knopka smart-layers-pointers"></div>
      <div class="poisk"></div>
      <img
        class="line-2"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/line-2@2x.png"
      />
      <img
        class="line-3"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/line-2@2x.png"
      />
      <img
        class="line-4"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/line-2@2x.png"
      />
      <img
        class="arrow-2"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/arrow-2@2x.png"
      />
      <img
        class="arrow-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/arrow-1@2x.png"
      />
      <img
        class="kalendar"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8a67aa70b51f10c37d07e/img/---------@2x.png"
      />
      <img
        class="chelovek"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8a67aa70b51f10c37d07e/img/-------@2x.png"
      />
      <div class="x1-2726 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">1</div>
      <input
        class="a-272 roboto-regular-normal-astronaut-215px border-class-1"
        name="куда18"
        placeholder="Куда"
        type="text"
        required
      />
      <input
        class="a-272 roboto-regular-normal-astronaut-215px border-class-1"
        name="дата19"
        placeholder="Дата"
        type="text"
        required
      />
      <input
        class="a-272 roboto-regular-normal-astronaut-215px border-class-1"
        name="откуда20"
        placeholder="Откуда"
        type="text"
        required
      />
      <div class="naiti-bilet-279 valign-text-middle roboto-regular-normal-linen-215px border-class-1">Найти билет</div>
      <div class="bilety-na--tobus-2710 valign-text-middle roboto-regular-normal-linen-48px border-class-1">
        Билеты на автобус
      </div>
    </div>
    <div class="pochemu-na-raiut-2734 valign-text-middle roboto-regular-normal-astronaut-28px border-class-1">
      Почему нас выбирают
    </div>
    <div class="auto-flex-uxzUmT">
      <div class="kupit-bil-rosto-2735 roboto-regular-normal-astronaut-28px border-class-1">
        Купить билет на автобус онлайн очень просто
      </div>
      <div class="zabronirov-latno-2738 roboto-regular-normal-astronaut-28px border-class-1">
        Забронировать билеты можно бесплатно
      </div>
      <div class="bilet-na-a-rnut-2740 roboto-regular-normal-astronaut-28px border-class-1">
        Билет на автобус можно вернуть
      </div>
    </div>
  </div>
  <div class="auto-flex2-C61RwL">
    <div class="esli-vam-n-letov-2736 roboto-regular-normal-astronaut-18px border-class-1">
      Если вам нужно срочно купить билет на автобус в Минске для поездки по стране или за границу, вовсе не обязательно
      ехать на Центральный столичный автовокзал. На сайте нашем сайте осуществляется круглосуточная продажа электронных
      билетов.
    </div>
    <div class="bilety-na---visa-2739 roboto-regular-normal-astronaut-18px border-class-1">
      Билеты на автобус из Минска или другого города Беларуси можно заказать заранее, а оплатить в течение указанного
      перевозчиком срока. Вы можете занять свое место в салоне автобуса и получить номер бронирования, а мы будем
      удерживать ваше место зарезервированным в течение определенного времени (срок задает перевозчик). Заказ можно
      оплатить в течение этого срока картой Mastercard/Visa.
    </div>
    <div class="esli-u-vas-rzhki-2742 roboto-regular-normal-astronaut-18px border-class-1">
      Если у вас поменялись планы за несколько дней до отправления, а автобусные билеты уже куплены, это не проблема –
      мы возместим вам их стоимость. Возвращение средств происходит тем же способом, каким была произведена покупка
      билетов на автобус. Обратите внимание: условия возврата у каждого перевозчика варьируются. Поэтому если вы хотите
      вернуть или поменять ваш автобусный билет, лучше сразу обратиться в службу поддержки.
    </div>
  </div>

  <div class="niz"></div>
  <div class="auto-flex3-C61RwL">
    <div class="informatsiia-714 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">
      Информация
    </div>
    <div class="partnioram-712 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Партнёрам</div>
    <div class="dokumenty-715 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Документы</div>
    <div class="iazyk-2711 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Язык</div>
    <div class="twitter">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8d2cb9924fde667e4285d/img/vector@2x.png"
      />
    </div>
  </div>
</div>

</body>
</html>