<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/news.css' %}" type="text/css"/>
</head>
<body>

<div class="novosti">
  <div class="auto-flex-C61RwL">
    <div class="overlap-group1-fhuxN3">
      <div class="verkh"></div>
      <div class="novostiimg-8533 valign-text-middle roboto-regular-normal-linen-215px border-class-1">Новости</div>
      <div class="lichnyi-kabinet-8531 valign-text-middle roboto-regular-normal-linen-215px border-class-1">
        Личный Кабинет
      </div>
      <div class="podderzhka-8532 valign-text-middle roboto-regular-normal-linen-215px border-class-1">Поддержка</div>
      <img
        class="image-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8a67aa70b51f10c37d07e/img/image-1@2x.jpg"
      />
      <h1 class="tickets-8535 valign-text-middle changa-regular-normal-linen-48px border-class-1">TICKETS</h1>
    </div>
    <div class="overlap-group-fhuxN3">
      <div class="fon"></div>
      <div class="lenta">
        <div class="auto-flex2">
          <div class="novosti-8540 valign-text-middle roboto-regular-normal-astronaut-28px border-class-1">Новости</div>
          <div class="overlap-group2">
            <div class="rectangle-"></div>
            <div class="kartinka-855 valign-text-middle roboto-regular-normal-black-48px border-class-1">Картинка</div>
          </div>
          <div class="overlap-group3">
            <div class="rectangle-"></div>
            <div class="kartinka-855 valign-text-middle roboto-regular-normal-black-48px border-class-1">Картинка</div>
          </div>
          <div class="overlap-group4">
            <div class="rectangle-"></div>
            <div class="kartinka-855 valign-text-middle roboto-regular-normal-black-48px border-class-1">Картинка</div>
          </div>
        </div>
        <div class="auto-flex3">
          <div class="novost-1-8547 roboto-regular-normal-astronaut-28px border-class-1">Новость 1</div>
          <div class="novost- roboto-regular-normal-astronaut-28px border-class-1">Новость 2</div>
          <div class="novost- roboto-regular-normal-astronaut-28px border-class-1">Новость 3</div>
        </div>
      </div>
    </div>
    <div class="niz"></div>
  </div>
  <div class="auto-flex1-C61RwL">
    <div class="informatsiia-8528 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">
      Информация
    </div>
    <div class="x-853 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Партнёрам</div>
    <div class="x-853 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Документы</div>
    <div class="iazyk-8529 valign-text-middle roboto-regular-normal-astronaut-215px border-class-1">Язык</div>
    <div class="twitter">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/5fe8a4e6fb1adbc90252ca9a/releases/5fe8aa6568286684fd0edfcb/img/vector@2x.png"
      />
    </div>
  </div>
</div>

</body>
</html>